:root {
	--light-bg: #FFF8EA;
	--light-1: #594545;
	--light-2: #815B5B;
	--light-3: #9E7676;
	--light-hover: #DAC0A3;
	--light-link: #0D47A1;
	--dark-bg: #24273a;
	--dark-1: #cad3f5;
	--dark-2: #6e738d;
	--dark-3: #363a4f;
	--dark-hover: #181926;
	--dark-link: #ee99a0;
  }

html {
	background-color: var(--light-bg);
	color: var(--light-1);
}

html.dark {
	background-color: var(--dark-bg);
	color: var(--dark-1);
}

body {
	font-family: Verdana, sans-serif;
}

p {
	font-size: large;
}

/* HOME */
.social a {
	color: var(--light-1);
}

.dark .social a {
	color: var(--dark-1);
}

.social a:nth-child(1) :hover {
	color: grey !important;
}

.social a:nth-child(2) :hover {
    color: #0A66C2 !important;
}

.social a:nth-child(3) :hover {
    color: #1DB954 !important;
}

/* FOOTER */
.footerbg {
	background-color: var(--light-bg);
}

.dark .footerbg {
	background-color: var(--dark-bg);
}

/* BLOG */
.blog p {
	margin: 10px 0 0 0;
}

.blog li {
	list-style: disc inside;
	padding: 10px 0 0 10px;
}

.blog li ul {
	padding-left: 10px;
}

.blog img {
	border-radius: 10px;
	margin-top: 10px;
	width: 50%;
	height: 50%;
}

.blog h1 {
	display: none;
}

.blog h2 {
	font-size: 24px;
	margin-top: 18px;
	font-weight: 600;
}

.blog h3 {
	font-size: 20px;
	margin-top: 18px;
	font-weight: 600;
}

.blog h4 {
	font-size: 18px;
	margin-top: 18px;
	font-weight: 600;
}

.blog a { color: var(--light-link);}

.dark .blog a { color: var(--dark-link);}

.blog a:hover { text-decoration: underline 2px;;}

.blogtime { color: var(--light-2); }

.dark .blogtime { color: var(--dark-2); }

/* LOGS */
.borderbottom {
	border-bottom-width: 2px;
	border-color: var(--light-3);
}

.dark .borderbottom {
	border-bottom-width: 2px;
	border-color: var(--dark-3);
}

/* RANDOM */
code {
	display: block;
	background-color: #24292E;
	color: #A5A8AD;
	border-radius: 10px;
	padding: 10px;
}

.blog blockquote {
	padding: 0 0 0 10px;
	border-left: 5px solid var(--light-1);
}

.dark .blog blockquote {
	padding: 0 0 0 10px;
	border-left: 5px solid var(--dark-1);
}