:root {
	--light-bg: #E6F5E5; /* Soft Pastel Green Background */
	--light-1: #2E4033; /* Dark Olive Green Text */
	--light-2: #5F7A6D; /* Sage Green Secondary Text */
	--light-3: #88A597; /* Mint Green Accents */
	--light-hover: #789085; /* Darker Moss Green */
	--light-link: #00CC6A; /* Spring Green */
	--light-blockquote: #CCE3CC; /* Light Mint */  
	--dark-bg: #1e1e2e; /* Midnight Navy */
	--dark-1: #cdd6f4; /* Lavender Mist */
	--dark-2: #8f5cf4; /* Amethyst Glow */
	--dark-3: #6f7aaa; /* Dusty Lavender */
	--dark-hover: #b4c0f4; /* Periwinkle Glow */
	--dark-link: #89b4fa; /* Sky Blue */
	--dark-blockquote: #11111b; /* Charcoal Abyss */
	/* MISC */
	--code-bg: #24292E;
	--code-text: #A5A8AD;
}

html {
	background-color: var(--light-bg);
	color: var(--light-1);
}

html.dark {
	background-color: var(--dark-bg);
	color: var(--dark-1);
}

body {
	font-family: Jetbrains Mono, monospace;
}

p {
	font-size: large;
}

h2, h3, h4 {
  font-weight: 600;
}

/* FOOTER */
.footerbg {
	background-color: var(--light-bg);
  	border-top: 1px solid var(--light-1);
}

.dark .footerbg {
	background-color: var(--dark-bg);
	border-top: 1px solid var(--dark-1);
}

/* INDEX */
.index li {
	list-style: none;
	padding: 10px 0 0 0;
}

.index a { color: var(--light-link);}

.dark .index a { color: var(--dark-link);}

.index a:hover { text-decoration: underline 2px;}

/* BLOG */
.blog p {
	margin: 10px 0 0 0;
}

.blog li {
	list-style: disc inside;
	padding: 10px 0 0 10px;
	font-size: large;
}

.blog li ul {
	padding-left: 10px;
}

.blog img {
	border-radius: 10px;
	margin-top: 10px;
	width: 100%;
}

.blog h1 {
	display: none;
}

.blog h2 {
	font-size: x-large;
	margin-top: 18px;
}

.blog h3 {
	font-size: larger;
	margin-top: 18px;
}

.blog h4 {
	font-size: large;
	margin-top: 18px;
}

.blog table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0px;
}

.blog th, .blog td {
    border: 1px solid;
}

.blog th {
    padding: 5px 5px;
}

.blog a { color: var(--light-link); font-weight: bolder; }

.dark .blog a { color: var(--dark-link); }

.blog a:hover { text-decoration: underline 2px; }

.blogtime { color: var(--light-2); }

.dark .blogtime { color: var(--dark-2); }

/* LOGS */
.borderbottom {
	border-bottom-width: 2px;
	border-color: var(--light-3);
	font-size: large;
}

.dark .borderbottom {
	border-bottom-width: 2px;
	border-color: var(--dark-3);
}

/* GALLERY */
.gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gallery img {
	border: 15px solid white;
	margin-bottom: 100px;
}

.gallery table img {
	width: 95%;
	border: 10px solid white;
	margin-bottom: 10px;
}

.gallery table, th, td {
	border: 0;
	margin: 0;
}

@media screen and (max-width: 600px) {
  .gallery table img {
    border-width: 5px;
  }
}

/* CV */
.cv h2 {
	font-size: larger;
}

.cv h4 {
	font-size: medium;
}

.cv-date {
	color: var(--light-2);
	font-size: small;
}

.dark .cv-date {
	color: var(--dark-2);
	font-size: small;
}

.cv a { 
	color: var(--light-link);
	font-size: small;
}

.dark .cv a { color: var(--dark-link); }

.cv a:hover { text-decoration: underline 2px; }

.cv li {
	list-style: disc inside;
	padding: 0 0 5px 10px;
}

.cv li ul {
	padding-left: 10px;
}

/* GUESTBOOK */ 
.guestbook a:hover {
  background-color: var(--light-link);
}

.dark .guestbook a:hover {
  background-color: var(--dark-1);
  color: var(--dark-bg);
}

/* QUOTES */ 
.author {
	color: var(--light-2);
	font-size: medium;
}

.dark .author {
	color: var(--dark-2);
}

/* RANDOM */
code {
	display: inline;
	background-color: var(--code-bg);
	color: var(--code-text);
	border-radius: 8px;
	padding: 4px 8px;
	font-size: small;
}

pre {
	padding: 10px;
	background-color: var(--code-bg);
	color: var(--code-text);
	border-radius: 10px;
	margin: 10px 0;
}

blockquote {
	background-color: var(--light-blockquote);
	padding: 0 0 0 10px;
	border-left: 5px solid var(--light-link);
}

.dark blockquote {
	background-color: var(--dark-blockquote);
	border-left: 5px solid var(--dark-link);
}

blockquote p {
	font-size: medium;
	line-height: 32px;
}

::selection{
	background-color: var(--light-1);
	color: var(--light-bg);
}

.dark ::selection{
	background-color: var(--dark-1);
	color: var(--dark-bg);
}

/* PRINT */
@media print {
	body {
		background: #fff;
		color: #000;
		font-family: Georgia, serif;
	}
	h1, h2, h3 {
		line-height: 1.3;
		font-family: Helvetica, sans-serif;
	}
	a, main a, .post main a:visited {
		color: #000;
		text-decoration: none;
	}
	blockquote, code {
		background: #fff;
		margin: 0;
		padding: 0 1.5em;
		border-left: 5px solid #000;
	}
	nav, footer, header {
		display: none !important;
	}
	.blogtime {
		color: #000;
	}
	#jr {
		display: none;
	}
}
