{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  <details>
    <summary>Rating System</summary> 
    <dl class=review__rating>
    <dt aria-label="1 out of 5 stars">★☆☆☆☆<dd>Awful.
    <dt aria-label="2 out of 5 stars">★★☆☆☆<dd>Waste of time..
    <dt aria-label="3 out of 5 stars">★★★☆☆<dd>Fine, could've managed without it lol
    <dt aria-label="4 out of 5 stars">★★★★☆<dd>Definitely worth a watch.
    <dt aria-label="5 out of 5 stars">★★★★★<dd>Must watch!</dl>
  </details>
  
  <br>
  
  <table>
    <h3 style="border-bottom: 3px solid#918DED; height: 4vh;">Movies</h3>
    {{ range .Site.Data.movies }}
    {{ if .date.year }}
    <tr style="border-bottom: 1px solid;" onmouseover="this.style.backgroundColor='#131313';" onmouseout="this.style.backgroundColor='';">
      <td style="width: 50%;">{{.title}}</td>
      <td style="width: 100%; height: 5vh; text-align: center;">{{.my_rating}} stars</td>
      <td style="width: 100%; text-align: center;">{{.date.day}}.{{.date.month}}.{{.date.year}}</td>
    </tr>
    {{end}}
    {{end}}
  </table>

  <br>

  <table>
    <h3 style="border-bottom: 3px solid#918DED; height: 4vh;">Series</h3>
    {{ range .Site.Data.series }}
    {{ if .date.year }}
    <tr style="border-bottom: 1px solid;" onmouseover="this.style.backgroundColor='#131313';" onmouseout="this.style.backgroundColor='';">
      <td style="width: 50%;">{{.title}}</td>
      <td style="width: 100%; height: 5vh; text-align: center;">{{.my_rating}} stars</td>
      <td style="width: 100%; text-align: center;">{{.date.day}}.{{.date.month}}.{{.date.year}}</td>
    </tr>
    {{end}}
    {{end}}
  </table>

  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
