---
import SectionContainer from '../components/SectionContainer.astro';
---

<SectionContainer>
	<main class="mb-auto break-words mt-4">
		<h1 class="text-4xl font-extrabold">About me</h1>
		<p>Some information about me & stuff I like</p>
		<a href="/tools">link to tools</a>
		<p>
			sidojdjosajoidsajaiodoaisoiasdosiadjoiaskflsdmklmdfsmlkfdskmdjdoasijsadkldsanlndsalnasdnlksadnklsdnlkdoasjdoasidjaoisjdoiasjdoasijdoiasjdoaijdio flex justify-center mx-auto md:gap-64 gap-4 py-5
		</p>
	</main>
</SectionContainer>