---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="flex flex-col fixed w-screen">
			<Header title={SITE_TITLE} />
			<main class="flex flex-col justify-center items-center p-48">
				<!-- Local image stored at public/assets/stars.png -->
				<img class="w-40 rounded-full" src="/assets/pb.jpg" alt="Profile picture of me.">

				<h1>🧑‍🚀 Hello, Astronaut!</h1>
				<p class="max-w-md">
					Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
					template serves as a lightweight, minimally-styled starting point for anyone looking to build
					a personal website, blog, or portfolio with Astro.
				</p>
			</main>
			<Footer />
		</div>
	</body>
</html>
