---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeIcon from './ThemeIcon.astro';
---

<header class="flex justify-center gap-64">
	<div>
		<a class="font-bold" href="/">
			{SITE_TITLE}
		</a>
	</div>
	<nav class="flex gap-2">
		<HeaderLink href="/about">about</HeaderLink>
		<HeaderLink href="#">projects</HeaderLink>
		<HeaderLink href="#">resume</HeaderLink>
		<HeaderLink href="/blog">blog</HeaderLink>
		<ThemeIcon />
	</nav>
</header>