---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="flex justify-center gap-24 mb-12">
	<a class="font-bold" href="/">
		{SITE_TITLE}
	</a>
	<nav>
		<HeaderLink href="/about">about</HeaderLink>
		<HeaderLink href="/projects">projects</HeaderLink>
		<HeaderLink href="/resume">resume</HeaderLink>
		<HeaderLink href="/blog">blog</HeaderLink>
	</nav>
</header>