---
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header class="flex justify-between items-center py-5">
	<div>
		<a class="text-2xl font-semibold" href="/">
			$ ~/sidski
		</a>
		<ThemeIcon />
	</div>
	<nav class="flex gap-2">
		<HeaderLink href="/about">whoami</HeaderLink>
		<HeaderLink href="/blog">blog</HeaderLink>
		<HeaderLink href="/more">more</HeaderLink>
	</nav>
</header>