---
import SectionContainer from '../components/SectionContainer.astro';

const {frontmatter} = Astro.props;
---
<SectionContainer>
	<main class="flex flex-col flex-1 mb-auto break-words mt-4">
		<article>
			<h1 class="text-3xl font-extrabold">{frontmatter.title}</h1>
			<p class="italic mb-4">{frontmatter.description}</p>
			<div class="gallery">
				<slot />
			</div>
		</article>
	</main>
</SectionContainer>