.not-found {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-found-text {
    font-size: 50px;
    font-weight: 700;
}
